# Put this single variable in .env locally or in Vercel Environment Variables.
APP_CONFIG='{"PORT":5000,"NODE_ENV":"development","MONGODB_URI":"mongodb+srv://terkadambajs_db_user:gtBEVMk4MzBUGki3@cluster0.adhz56j.mongodb.net/bace_management?retryWrites=true&w=majority","JWT_SECRET":"iskcon_bace_jia_sarai_super_secret_jwt_key_2026","JWT_EXPIRE":"30d","CLIENT_URL":"http://localhost:5000","GOOGLE_CLIENT_ID":"793682083812-hp4oe9g0pbh2nfk4br8v42m2shvngbah.apps.googleusercontent.com","ADMIN_EMAILS":"terkadamba.js@gmail.com"}'
